@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'OswaldRegular';
    src: url('oswald-regular.eot');
    src: url('oswald-regular.eot') format('embedded-opentype'), url('oswald-regular.woff') format('woff'), url('oswald-regular.ttf') format('truetype'), url('oswald-regular.svg#OswaldRegular') format('svg');
}

@font-face {
    font-family: 'junction';
    src: url('./junction/Junction-regular.otf')
    for
0px;
    }

    .banner_arrow {
        left: 0;
        margin-left: 20px;
        position: absolute;
        top: 0;
    }

    .links_body h2 {
        font-size: 40px;
        margin: 5px 15px 15px 15px;
    }

    .link {
        width: 95% !important;
    }

    .left {
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }

    .content img {
        width: 90%;
        margin-left: 17px;
    }

    .item-page {
        padding: 15px;
    }

    .free_text {
        width: 100%;
    }

    .content_arrow {
        left: 0;
        margin-left: 20px;
        position: absolute;
    }

    .right {
        float: left;
        width: 93%;
        padding: 15px;
    }

    .contaact_form {
        padding: 15px;
    }

    .right img {
        margin: 20px;
        position: relative;
        width: 89%;
    }

    .copyright {
        margin: 0px;
        width: 100%;
    }

    .foot_nav ol, .foot_nav ul {
        margin: 0px;
        width: 100%;
    }

    /*inner page*/
    .page_banner {
        left: 0;
        margin-left: 0;
        position: relative;
        width: 100% !important;
    }

    .page_benner_text {
        left: 0;
        margin: 10px 0px 0px 0px;
        position: relative;
        width: 96.5% !important;
        padding: 2px 5px;
    }

    .page_container {
        padding: 10px 0px 0px 0px;
    }

    .page_container .item-page {
        padding: 0px;
        width: 100%;
    }

    .recentpost img {
        width: auto;
    }

    .form_text, .form_email, .form_phone, .form_message {
        width: 60%;
    }

    .content .offset2 {
        margin: 0px 0px 0px 0px !important;
    }

    .navigation ul li {
        width: 100%;
        padding: 5px 0px;
    }

}

/* Landscape phones and down */
@media (max-width: 480px) {
    .wrapper {
        width: 100%;
    }

    .logo {
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }

    .banner {
        float: left;
        left: 0;
        margin-left: 0;
        position: relative;
        width: 100%;
    }

    .banner_text {
        float: left;
        left: 0;
        margin-left: 0;
        margin-top: 15px;
        position: relative;
        width: 100%;
        margin-bottom: 15px;
    }

    .banner_body {
        min-height: auto !important;
    }

    .banner_text .consect {
        font-size: 20px;
        line-height: 25px;
    }

    .banner_text h2 {
        font-size: 20px;
        /* font-family: 'junctionregular';  */
    }

    .banner_arrow {
        left: 0;
        margin-left: 20px;
        position: absolute;
        top: 0;
    }

    .links_body h2 {
        margin: 5px 5px 15px 5px;
    }

    .link {
        width: 93% !important;
    }

    .left {
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }

    .content img {
        width: 90%;
        margin: 0px 0px 0px 10px;
    }

    .item-page {
        padding: 5px;
    }

    .content_arrow {
        left: 0;
        margin-left: 20px;
        position: absolute;
    }

    .right {
        float: left;
        width: 100%;
        padding: 0px;
    }

    .contaact_form {
        padding: 10px;
    }

    .right img {
        margin: 5px;
        position: relative;
        width: 94%;
    }

    .copyright {
        margin: 0px;
        width: 100%;
    }

    .foot_nav ol, .foot_nav ul {
        margin: 0px;
        width: 100%;
    }

    .phone_nu {
        font-size: 45px;
        line-height: 55px;
    }

    .navigation ul li {
        width: 100%;
        padding: 5px 0px;
    }

    /*inner page*/
    .page_banner {
        left: 0;
        margin-left: 0;
        position: relative;
        width: 100% !important;
    }

    .page_benner_text {
        left: 0;
        margin: 10px 0px 0px 0px;
        position: relative;
        width: 96.5% !important;
        padding: 2px 5px;
    }

    .page_container {
        padding: 10px 0px 0px 0px;
    }

    .page_container .item-page {
        padding: 0px;
        width: 100%;
    }

    .recentpost img {
        width: auto;
    }

    .content .offset2 {
        margin: 0px 0px 0px 0px !important;
    }

    .form_text, .form_email, .form_phone, .form_message {
        width: 95%;
    }
}
